<style>
    .dl-horizontal dt {
        font-weight: bold;
        width: 150px;
        text-align: right;
    }

    .dl-horizontal dd {
        margin-left: 160px;
    }

    .dl-horizontal img {
        max-width: 200px;
        height: auto;
    }

    .btn {
        margin-top: 10px;
    }
</style>

@model TH_Project.Data.XEGANMAY

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>XE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaXe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaXe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenXe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenXe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Giaban)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Giaban)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mota)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anhbia)
        </dt>
        <dd>
            @if (!string.IsNullOrEmpty(Model.Anhbia))
            {
                <img src="@Url.Content(Model.Anhbia)" alt="Ảnh xe" style="max-width: 200px; height: auto;" />
            }
            else
            {
                <p>No image available</p>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngaycapnhat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ngaycapnhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soluongton)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Soluongton)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaLX)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaLX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaNPP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaNPP)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaXe }) |
    @Html.ActionLink("Back to List", "Index")
</p>
